In [1]:
import numpy as np
import pandas as pd

# python built-in str module

In [2]:
text1 = "hello, how is everything going on?"

In [3]:
str.upper(text1)

'HELLO, HOW IS EVERYTHING GOING ON?'

In [4]:
str.lower(text1)

'hello, how is everything going on?'

In [5]:
str.capitalize(text1)

'Hello, how is everything going on?'

In [6]:
str.title(text1)

'Hello, How Is Everything Going On?'

# str in Pandas

In [7]:
ser1 = pd.Series(["amy","toNy","LORry","SimPSoN"])

In [8]:
ser1

0        amy
1       toNy
2      LORry
3    SimPSoN
dtype: object

In [9]:
ser1.str

In [10]:
ser1.str.upper()

0        AMY
1       TONY
2      LORRY
3    SIMPSON
dtype: object

In [11]:
ser1.str.lower()

0        amy
1       tony
2      lorry
3    simpson
dtype: object

In [12]:
ser1.str.capitalize()

0        Amy
1       Tony
2      Lorry
3    Simpson
dtype: object

# indexing of string

In [13]:
a = "Hello, how is your life recently?"

In [14]:
a[0]

'H'

In [17]:
for l in a[0:5]:
    print("\n",l)

 H

 e

 l

 l

 o

In [19]:
ser1

0        amy
1       toNy
2      LORry
3    SimPSoN
dtype: object

In [18]:
ser1.str[3]

0    NaN
1      y
2      r
3      P
dtype: object

## pd.Series.str[3] 取值每个元素的第4个字母，缺失为NaN

In [23]:
ser1.str[::-1]

0        yma
1       yNot
2      yrROL
3    NoSPmiS
dtype: object

0
1
2
3
dtype: object

In [26]:
ser1 = pd.Series(["Hello"])
ser1.str.len()

0    5
dtype: int64

In [27]:
ser1 = pd.Series(["Hello Vova"])
ser1.str.len()

0    10
dtype: int64

In [28]:
ser1.astype("string").str.len()

0    10
dtype: Int64

In [29]:
ser1 = pd.Series(["Hello", "Amy", "What", "is", "Your", "Favourite","Food","?"])

In [30]:
ser1.str.len()

0    5
1    3
2    4
3    2
4    4
5    9
6    4
7    1
dtype: int64

In [31]:
ser1.astype("string").str.len()

0    5
1    3
2    4
3    2
4    4
5    9
6    4
7    1
dtype: Int64

In [32]:
ser1.str.capitalize()

0        Hello
1          Amy
2         What
3           Is
4         Your
5    Favourite
6         Food
7            ?
dtype: object

In [33]:
ser1.astype("string").str.capitalize()

0        Hello
1          Amy
2         What
3           Is
4         Your
5    Favourite
6         Food
7            ?
dtype: string

In [34]:
a = 43
type(a)

int

# regular expression

In [44]:
str1 = open("../Python/Files/pg2097.txt", encoding="UTF-8").read()

In [45]:
len(str1)

251296

In [47]:
re.findall(r"Sherlock", str1)

['Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock',
 'Sherlock']

In [51]:
re.findall(r"miss", str1,re.I)

['Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'miss',
 'Miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'Miss',
 'miss',
 'Miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'Miss',
 'miss',
 'Miss',
 'miss',
 'miss',
 'miss',
 'Miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'miss',
 'Miss',
 'Miss',
 'miss']

In [54]:
pattern = re.compile(r"wat[a-zA-Z]{3}", re.I)
mo = pattern.search(str1)
mo.group()

'Watson'

In [56]:
mo = pattern.findall(str1)
mo

['Watson',
 'Watson',
 'watche',
 'Watson',
 'watery',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'waters',
 'Watson',
 'Watson',
 'waterm']

# 文本的常用操作

## split

In [57]:
ser1 = pd.Series(["中国美国韩国日本国蒙古国英国法国俄国"])

In [58]:
ser1.str.split("国")

0    [中, 美, 韩, 日本, 蒙古, 英, 法, 俄, ]
dtype: object

In [59]:
split1 = ser1.str.split("国")

In [60]:
type(split1)

pandas.core.series.Series

In [61]:
split1

0    [中, 美, 韩, 日本, 蒙古, 英, 法, 俄, ]
dtype: object

In [62]:
ser1.str.split("国", n=2, expand=True)

   0  1               2
0  中  美  韩国日本国蒙古国英国法国俄国

In [63]:
split2 = ser1.str.split("国", n=2, expand=True)

In [65]:
type(split2)

pandas.core.frame.DataFrame

In [66]:
print(split1.shape, "\n", split2.shape)

(1,)
 (1, 3)

# rsplit 从右向左 分割

In [69]:
ser1.str.rsplit("国", n=3, expand=True)

               0  1  2 3
0  中国美国韩国日本国蒙古国英  法  俄

# 字符串的合并

## str.join() 

## 序列内

In [70]:
ser1 = pd.Series(["Helllo","Moto"])
ser1.str.join("-")

0    H-e-l-l-l-o
1        M-o-t-o
dtype: object

In [71]:
ser1 = pd.Series([["Helllo","Moto"],["陶喆","同名","专辑"]])
ser1.str.join("&")

0    Helllo&Moto
1       陶喆&同名&专辑
dtype: object

In [72]:
ser1 = pd.Series([[["Helllo","Moto"],["陶喆","同名","专辑"]]])
ser1.str.join("&")

0   NaN
dtype: float64

## str.cat() 

## 跨序列

In [73]:
ser1 = pd.Series(["Hello","Mr","My","Yesterday"])
ser2 = pd.Series(["Ai","No","Theme"])
ser1.str.cat(ser2,sep=" ^ ")

0    Hello ^ Ai
1       Mr ^ No
2    My ^ Theme
3           NaN
dtype: object

## 匹配 str.contains()

In [74]:
ser1 = pd.Series(["Heaven","Tea","please","theater","peak"])
ser1.str.contains("ea")

0    True
1    True
2    True
3    True
4    True
dtype: bool

## start with , end with

In [75]:
ser1.str.startswith("He")

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [77]:
ser1.str.endswith("ea")

0    False
1     True
2    False
3    False
4    False
dtype: bool

## find, rfind()

In [78]:
ser1 = pd.Series(["I wonder how, I wonder why, Yesterday you told me about the blue blue sky."])

In [80]:
ser1.str.find("blue")

0    60
dtype: int64

In [81]:
ser1.str.rfind("blue")

0    65
dtype: int64

## replace

In [82]:
ser1 = pd.Series(["Today I would like to eat icecream"])
ser1.str.replace("Today","Tomorrow", regex=True)

0    Tomorrow I would like to eat icecream
dtype: object

## str.extract() 提取

In [87]:
ser1 = pd.Series(["和平路奉献路朝阳路邓平路直采路"])
pattern = "(\w+路)(\w+路)(\w+路)(\w+路)(\w+路)"
ser1.str.extract(pattern)

     0    1    2    3    4
0  和平路  奉献路  朝阳路  邓平路  直采路

# 常用函数

## skip upper lower capitalized, title, etc.

In [88]:
ser1 = pd.Series(["Hello Mother"])
ser1.str.swapcase()

0    hELLO mOTHER
dtype: object

## to numeric 字符串转数字

In [90]:
ser1 = pd.Series(["1","2","3","4","463","1/2","seven","ten"])
ser2 = pd.to_numeric(ser1, errors="ignore")

In [91]:
ser2

0        1
1        2
2        3
3        4
4      463
5      1/2
6    seven
7      ten
dtype: object

# 去除空格 strip lstrip rstrip

In [95]:
ser1 = pd.Series(["          hello, this is my favorite.          "])
ser1.str.len()

0    47
dtype: int64

In [96]:
ser1 = pd.Series(["          hello, this is my favorite.          "])
ser1.str.strip().str.len()

0    27
dtype: int64

In [97]:
ser1 = pd.Series(["          hello, this is my favorite.          "])
ser1.str.lstrip().str.len()

0    37
dtype: int64

In [98]:
ser1 = pd.Series(["          hello, this is my favorite.          "])
ser1.str.rstrip().str.len()

0    37
dtype: int64

## 填充 pad

In [102]:
ser1 = pd.Series(["me"])
ser1.str.pad(10,"right","#")

0    me########
dtype: object

In [103]:
ser1.str.pad(10,"left","#")

0    ########me
dtype: object

In [104]:
ser1.str.pad(10,"both","#")

0    ####me####
dtype: object

# 填充 center rjust, ljust

In [105]:
ser1 = pd.Series(["me"])
ser1.str.center(10,"*")

0    ****me****
dtype: object

In [106]:
ser1.str.ljust(10,"*")

0    me********
dtype: object

In [107]:
ser1.str.rjust(10,"*")

0    ********me
dtype: object

In [109]:
ph1 = pd.Series(["8617367302161"])
ph1.str.rjust(15,"0")

0    008617367302161
dtype: object